@import '../../components/Common';
:root {
    --ion-color-client: $beige;
    --ion-color-client-button: #e7b271;
    --border-color: #e7b271 !important;
    //--ion-background-color: var(--ion-color-cifu);
}

body.client {
    --ion-color-tertiary: #fffbf4;
    --ion-color-tertiary-rgb: 255, 251, 244;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0ddd7;
    --ion-color-tertiary-tint: #fffbf5;

    ion-modal {
        display: flex;
        justify-content: center;
        align-items: center;

        .client-header-logo {
            background: $brown;
            padding: 10px;
            margin-top: 30px;
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;
            color: #294f84;
            font-family: $font-stack;
        }
        .modal-div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.ClientPage {
    --ion-background-color: var(--ion-color-client);
    background-color: #fffbf4;

    --ion-color-primary: #294f84;
    --ion-color-primary-rgb: 41, 79, 132;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #244674;
    --ion-color-primary-tint: #3e6190;

    --ion-color-secondary: #e7b271;
    --ion-color-secondary-rgb: 231, 178, 113;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #cb9d63;
    --ion-color-secondary-tint: #e9ba7f;

    font-family: $font-stack;

    .client-content {
        --padding-start: 20px;
        --padding-end: 20px;
    }

    ion-item .item-native {
        border-color: var(--border-color);
    }
    .client-bg {
        background-color: $brown;
        //  display:flex;
        //flex-direction:column;
        // justify-content: center;
        // text-align:center;
        //  border-radius:10px;
        // align-items:center;
    }

    .client-login-title {
        font-family: $font-stack;
        font-weight: 700;
        --ion-color-primary: #294f84;
        color: var(--ion-color-primary);
        margin-top: 0;
    }

    .emptyPhotoDiv {
        width: 50px;
        height: 50px;
        border: 1px grey solid;
        margin-left: 20px;
    }

    .client-login-input {
        --ion-color-primary-contrast: #ffffff;
        color: var(--ion-color-primary-contrast);
        --placeholder-opacity: 1;
    }

    .white-item {
        --border-color: #ffffff;
        --placeholder-opacity: 1;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .ion-no-padding {
        padding: 0 var(--inner-padding-end);

        //--inner-padding-end:0!important;
    }
    .item-inner-highlight {
        opacity: 1;
    }

    .square__logo__div img {
        width: 100px;
    }

    .client-login-button-width {
        margin-left: 10px;
        margin-right: 10px;
    }

    .client-title {
        margin-top: 0;
        font-family: $font-stack;
        font-weight: 700;
        font-size: 25px;
    }

    .cifu-client-login-div {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .cifu-client-login {
        width: 170px;
        display: flex;
        justify-content: center;
        font-size: 16px;
        color: $brown;
        font-family: $font-stack;
        font-weight: 400;
    }

    a {
        text-decoration: none !important;
    }

    .client-back-button {
        position: absolute;
        top: 5px;
        color: $brown;
        font-size: 30px;
        cursor: pointer;
    }

    .client-bar-logo {
        display: flex;
        justify-content: center;
    }

    .client-header-logo {
        background: $brown;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 20px;
        color: #294f84;
        font-family: $font-stack;
    }

    .orangeItem {
        --border-color: #e7b271;

        //  margin-bottom:10px;
    }

    .signup-label {
        font-family: $font-stack;
        font-weight: 400;
        font-size: 25px;
        color: $dark;
    }

    .checkBox-fontsize {
        font-family: $font-stack;
        font-weight: 400;
        font-size: 19px;
        color: #888888;
    }

    .dropDown-label {
        font-family: $font-stack;
        font-weight: 400;
        font-size: 24px;
        color: $dark;
    }

    .checkbox-label,
    .item-header {
        font-family: $font-stack;
        font-weight: 700;
        font-size: 19px;
        color: $dark;
        margin-bottom: 5px;
    }

    .orangeButton {
        --background: var(--ion-color-client-button) !important;
        border-radius: 5px !important;
        margin-top: 30px;
        width: 50%;
    }

    .formButton {
        --background: var(--ion-color-client-button) !important;
        border-radius: 5px !important;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 30%;
    }

    .client-token {
        font-family: $font-stack;
        font-weight: 700;
        font-size: 25px;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .client-service-button {
        font-family: $font-stack;
        font-size: 20px;
        font-weight: 700;
        height: 60px;
        margin-bottom: 20px;
    }

    .client-logoutbtn {
        background: transparent;
        font-family: $font-stack;
        font-size: 16px;
        margin-top: 30px;
    }

    .form-dot-div {
        display: flex;
        justify-content: space-between;
        width: 80px;
    }

    .form-dot {
        width: 10px;
        height: 10px;
        background: $dark;
        border-radius: 50%;
    }

    .openModalBtn {
        background-color: transparent;
    }
}
