// ion-content {
//     --padding-start: 20px;
//     --padding-end: 20px;
// }

ion-item {
    --padding-start: 0px;
}

.clientHomeSpacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ion-button {
        height: 80px;
        width: 80px;
    }
}

.clienStepBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
        flex: 1;
    }
}

.confirmFinished {
    background: #5d5fef;
}

.upload {
    background: #ef5da8;
}

.processing {
    background: #a5a6f6;
}

.finished {
    background: #aaaaaa;
}

.orderCircleDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;

    ion-icon {
        font-size: 40px;
    }

    .orderCircle {
        border: 1px solid black;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;

    .successFormat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

.clientHeader{
  display:flex;
  justify-content:space-between;
  ion-button{
      padding:0 20px
  }
}

