@import '../../components/Common';
:root {
    --ion-color-cifu: $beige;
    //--ion-background-color: var(--ion-color-cifu);
}

body.cifu {
    --ion-color-tertiary: #fffbf4;
    --ion-color-tertiary-rgb: 255, 251, 244;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0ddd7;
    --ion-color-tertiary-tint: #fffbf5;

    ion-modal{
        display:flex;
        justify-content:center;
        align-items: center;

        .client-header-logo {
            background: #9FC6C0;
            padding: 10px;
            margin-top: 30px;
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;
            color: #294f84;
            font-family: $font-stack;
        }
        .modal-div {
          
            display: flex;
            justify-content: center;
            align-items: center;
        
        }
    }
}

.CifuPage {
    --ion-background-color: var(--ion-color-cifu);
    background-color: #fffbf4;

    --ion-color-primary: #294f84;
    --ion-color-primary-rgb: 41, 79, 132;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #244674;
    --ion-color-primary-tint: #3e6190;

    --ion-color-secondary: #9FC6C0;
    --ion-color-secondary-rgb: 159,198,192;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #8caea9;
    --ion-color-secondary-tint: #a9ccc6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cifu-content {
        --padding-start: 20px;
        --padding-end: 20px;
    }

    .cifu-div {
        background-color: $green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        align-items: center;
    }

    .cifu-login-title {
        font-family: $font-stack;
        font-weight: 700;
        --ion-color-primary: #294f84;
        color: var(--ion-color-primary);
        margin-top: 0;
    }

    .cifu-login-input {
        --ion-color-primary-contrast: #ffffff;
        color: var(--ion-color-primary-contrast);
        --placeholder-opacity: 1;
        --padding-start: 15px !important;
    }

    .white-item {
        --border-color: #ffffff;
        --placeholder-opacity: 1;
    }

    .item-inner-highlight {
        opacity: 1;
    }

    .cifu-login-button-width {
        width: 175px;
    }

    .cifu-title {
        margin-top: 0;
        font-family: $font-stack;
        font-weight: 700;
        font-size: 25px;
    }

    .square__logo__div img {
        width: 100px;
    }

    .cifu-admin-login-div {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .cifu-admin-login {
        width: 170px;
        display: flex;
        justify-content: center;
        font-size: 16px;
        color: $green;
        font-family: $font-stack;
        font-weight: 400;
    }

    a {
        text-decoration: none !important;
    }

    .processing {
        background-color: #a5a6f6;
    }

    .cancelled {
        background-color: #aaaaaa;
    }

    .cifuBackButton {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #9FC6C0;
        border-radius: 10px;
        height:2.8em;
        text-align: center;
        padding-left:20px;
    }

    .cifuConfirmButton{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #9FC6C0;
        border-radius: 10px;
        height:2.8em;
      
    }

    .multi-image-container {
        display: flex;
        justify-content: flex-start;

        .square-image {
            width: 42px;
            margin-right: 10px;
            cursor: pointer;
            height: 42px;
        }
    }

    .emptyPhotoDiv {
        width: 50px;
        height: 50px;
        border: 1px grey solid;
        margin-left: 20px;
    }

    .openModalBtn {
        background-color: transparent;
    }

    .whiteFont{
        color:white;
    }

    .cifuTab{
        display:flex;
        justify-content:space-around;
        width:87%;
        margin-bottom:1em;
        margin-top:1em;
    }
    
}
