@import '../../components/Common';
.cifu{
    .logindivbackground{
        background:$green;
        color:$dark;
        font-family: $font-stack;
        font-weight: 700;
        font-size: 25px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        border-radius:10px;
        text-align: center;
        padding-bottom:30px;
    }

    .loginButtonWidth{
        width:175px
    }

    .logindivOr{
        font-family: $font-stack;
        font-weight: 400;
        font-size: 16px;
        color:white
    }
}
.cifuHeader{
    display:flex;
    justify-content:space-between;
    ion-button{
        padding:0 20px
    }

    ion-item{
        --ion-background-color:#9FC6C0;
     }
}








.cifuListHeader{
    display:flex;
    justify-content:space-around;
    align-items: center;

}

ion-card-title {
    display: flex;
    justify-content:space-between;
    align-items:center
}

ion-card-header{
    padding-bottom:2px;
    padding-top:3px
}

.processing{
    background-color:#A5A6F6
}

.cifuHomeSpacing{
   
    display:flex;
    flex-direction: column;
    justify-content:space-around;

    // ion-button{
    //     margin-top:60vh;
    // }
}

.cifuTab{
    display:flex;
    justify-content:center;

}

.paymentList{
    display:flex;
    justify-content:space-between
}


.photoDiv{
    display:flex;
    justify-content:space-between;
}

.modalCSS{
    display:flex;
    align-items:center;
    justify-content:center;
}