@import '../components/Common';

.admin {
    /* scrollbars */

    ::-webkit-scrollbar {
        width: 5px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $gray;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: $brown;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $gray;
    }

    /* body */

    font-family: $font-stack;
    color: $gray;
    // margin: 0;
    // padding: 0;
    // font-size: 10px;

    .text-primary-p {
        color: $gray;
        font-size: 16px;
        font-weight: 700;
    }

    .font-bold {
        font-weight: 700;
    }

    .text-title {
        color: #2e4a66;
    }

    .text-lightblue {
        color: #469cac;
    }

    .text-red {
        color: #cc3d38;
    }

    .text-yellow {
        color: #a98921;
    }

    .text-green {
        color: #3b9668;
    }

    .container {
        display: grid;
        height: 100vh;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 'sidebar main main main';
    }

    /* main */

    main {
        // background: #f3f4f6;
        background: $green;
        grid-area: main;
        overflow-y: auto;
    }

    .main__container {
        padding: 20px 35px;
    }

    .main__title {
        display: flex;
        align-items: center;
    }

    .main__title > img {
        max-height: 100px;
        object-fit: contain;
        margin-right: 20px;
    }

    .main__greeting > h1 {
        font-size: 24px;
        color: #2e4a66;
        margin-bottom: 5px;
    }

    .main__greeting > p {
        font-size: 14px;
        font-weight: 700;
        color: $gray;
    }

    .main__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
        margin: 20px 0;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70px;
        padding: 25px;
        border-radius: 5px;
        background: #fff;
        // box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #fff;
    }

    .card__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card_inner > span {
        font-size: 25px;
    }

    .dashboard {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        gap: 10px;
        margin-top: 20px;
    }

    .dashboard__left__card,
    .dashboard__right__card {
        padding: 25px;
        margin: 15px;
        border-radius: 10px;
        background: $white;
        padding-top: 0;
    }

    .dashboard__left__card {
        max-height: 45vh;
        overflow-y: scroll;
        margin-bottom: 2rem;
    }

    .order__card {
        max-height: 90vh;
    }
    .dashboard__right__card {
        max-height: 90vh;
        overflow-y: scroll;
    }
    .dashboard__left__title,
    .dashboard__right__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background: #fffbf4;
        padding-top: 24px;
    }

    .dashboard__left__title > div > h1,
    .dashboard__right__title > div > h1 {
        font-size: 20px;
        font-weight: 700;
        // color: #2e4a66;
        color: $dark;
        margin-bottom: 5px;
    }

    .dashboard__left__title > div > p,
    .dashboard__right__title > div > p {
        font-size: 13px;
        font-weight: 300;
        color: $gray;
    }

    .dashboard__left__title > i {
        color: $white;
        font-size: 20px;
        border-radius: 200px 0px 200px 200px;
        -moz-border-radius: 200px 0px 200px 200px;
        -webkit-border-radius: 200px 0px 200px 200px;
        padding: 15px;
        background: $green;
    }

    .dashboard__right__title > i {
        color: $white;
        font-size: 20px;
        border-radius: 200px 0px 200px 200px;
        -moz-border-radius: 200px 0px 200px 200px;
        -webkit-border-radius: 200px 0px 200px 200px;
        padding: 15px;
        background: $green;
    }

    .dashboard__client__title {
        display: grid;
        grid-template-columns: 0.5fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr;
        margin-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
    }

    .dashboard__client__record {
        display: grid;
        grid-template-columns: 0.5fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr;
        margin: 15px 0;
        font-weight: 700;
    }

    .dashboard__cifu__title {
        display: grid;
        grid-template-columns: 0.5fr 2fr 2fr 2fr;
        margin-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
    }

    .dashboard__cifu__record {
        display: grid;
        grid-template-columns: 0.5fr 2fr 2fr 2fr;
        margin: 15px 0;
        font-weight: 700;
    }

    .dashboard__completedOrder__title {
        display: grid;
        grid-template-columns: 0.9fr 2fr 1.6fr 2.1fr 2fr 90px 110px;
        margin-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
    }

    .dashboard__complatedOrder__record {
        display: grid;
        // grid-template-columns: 1fr 2.2fr 1.8fr 2.2fr 2fr 1.9fr 0.5fr;
        grid-template-columns: 1fr 2.2fr 1.8fr 2.2fr 100px 100px 10px;
        margin: 15px 0;
        font-weight: 700;
    }

    .dashboard__order__title {
        display: grid;
        grid-template-columns: 0.9fr 2fr 1.6fr 2.1fr 1.8fr 2.2fr;
        padding-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
        position: sticky;
        top: 73px;
        background: #fffbf4;
    }

    .dashboard__order__record {
        display: grid;
        grid-template-columns: 1fr 2.2fr 1.8fr 2.2fr 2fr 1.9fr 0.5fr;
        //grid-template-columns: 1fr 2.2fr 1.8fr 2.2fr 100px 100px 10px;
        margin: 15px 0;
        font-weight: 700;

        .dropdown-list-button {
            cursor: pointer;
        }
    }

    .dashboard__order__details {
        font-size: 1rem;
        background: #ededed;
        padding: 0 20px 20px 20px;
        border-radius: 10px;

        h5 {
            font-size: 1.2rem;
            color: $green;
            font-weight: 700;
            margin-top: 10px;
        }

        .time {
            font-size: 0.7rem;
        }

        select {
            border-radius: 5px;
            padding: 5px;
            border: 0;
            margin-right: 10px;
        }

        input {
            border-radius: 5px;
            padding: 5px;
            border: 0;
            background: $white;
            margin: 5px 0;
        }

        label {
            margin-right: 10px;
        }

        .admin_button {
            color: $white;
            font-size: 1rem;
            background: $green;
            padding: 8px;
            border-radius: 5px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 700;

            i {
                margin-left: 5px;
            }
        }

        .admin_button:hover {
            background: $dark;
        }

        .small_button {
            color: $white;
            font-size: 0.8rem;
            background: $gray;
            padding: 5px;
            border-radius: 5px;
            font-weight: 700;
        }

        .small_button:hover {
            background: $green;
        }

        .multi-image-container {
            display: inline-flex;
            justify-content: flex-start;
        }

        .square-image {
            width: 42px;
            margin-right: 10px;
            cursor: pointer;
            height: 42px;
        }
    }

    .dashboard__form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // flex-direction: column;
    }

    .dashboard__admin__order {
        display: grid;
        grid-template-columns: 1.8fr 1fr;
        gap: 5px;
        // margin-top: 20px;
    }

    .image-inline-container {
        display: inline-flex;
    }

    .dashboard__admin__assignment {
        //display: grid;
        //grid-template-columns: 3fr 1fr;
        // gap: 10px;
        // margin-top: 20px;
        padding: 10px;
        background: $white;
        margin: 10px 0;
        border-radius: 5px;
        max-width: 500px;

        // display: grid;
        // grid-template-columns: 3fr 1fr 1fr 1fr;
        // grid-template-rows: 1fr auto;
        // grid-template-areas: 'a_date a_cifu a_fee a_icons';
        // grid-template-areas: 'a_details a_details a_details a_details';
        .assignment_first_row {
            display: grid;
            grid-template-columns: 0.7fr 1.4fr 0.8fr 0.3fr 0.3fr;
            gap: 5px;

            i {
                font-size: 18px;
                color: $green;
                cursor: pointer;
            }
            i:hover {
                color: $dark;
                cursor: pointer;
            }
        }

        input {
            border-radius: 5px;
            padding: 5px;
            border: 0;
            background: $white;
            border: 1px solid $green;
            margin: 5px;
        }

        select {
            border-radius: 5px;
            padding: 5px;
            border: 1px solid $green;
            margin-right: 10px;
            background: $white;
        }
    }

    .status_button {
        padding: 5px 10px;
        border-radius: 20px;
        color: $white;
        font-weight: 700;
        cursor: default;
    }

    .red_button {
        background-color: $red_button;
    }
    .yellow_button {
        background-color: $yellow_button;
    }
    .green_button {
        background-color: $green_button;
    }
    .gray_button {
        background-color: $gray;
    }

    .dashboard__assignment__title {
        // display: grid;
        // grid-template-columns: 0.9fr 2fr 1.6fr 2.1fr 1.8fr 2.2fr;
        margin-top: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgray;
    }

    .dashboard__assignment__record {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: 15px 0;
        font-weight: 700;
    }

    .dashboard__assignment__record > a {
        text-decoration: none;
    }

    @media only screen and (max-width: 978px) {
        .container {
            grid-template-columns: 1fr;
            grid-template-rows: 0.2fr 3fr;
            grid-template-areas:
                'nav'
                'main';
        }
    }

    @media only screen and (max-width: 855px) {
        .main__cards {
            grid-template-columns: 1fr;
            gap: 10px;
            margin-bottom: 0;
        }

        .dashboard {
            grid-template-columns: 1fr;
            margin-top: 30px;
        }
    }
}
