.adminframe {
    display: flex;
    margin-left: 20px;
    margin-left: 20px;
    z-index: 0;
    color: #000;
}

ion-content {
    --padding-start: 20px;
    --padding-end: 20px;
}

ion-item {
    --padding-start: 0px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.gray {
    background: gray;
}

.payment-status-select {
    color: #000;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 4px 0px #2f485880;
    border: 0;
}

ion-icon {
    font-size: 20px;
    color: #000;
}
