@import '../components/Common';

.navbar {
    display:none;
}

@media only screen and (max-width: 978px) {
    .navbar {
        display: flex;
        flex-direction: row;
        padding: 0 30px 0 30px;
        grid-area: nav;
        height: 60px;
        width: 100vw;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid lightgray;
        background: $white;
    }

    .nav_icon {
        padding: 7px;
        position: fixed;
        left: 7px;
        top: 7px;
        bottom: 7px;
    }

    .nav_icon > i {
        font-size: 26px;
        color: #a5aaad;
    }
}
