@import '../components/Common';

#sidebar {
    background: $dark;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 100vh;
}

.sidebar__title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: $white;
    margin-bottom: 20px;
}

// .sidebar__img {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .sidebar__title > div > img {
//     width: 75px;
//     object-fit: contain;
// }

// .sidebar__title > div > h1 {
//     font-family: 'Black Ops One', cursive;
//     font-size: 35px;
//     display: block;
//     margin-top: 0px;
// }

.sidebar__title > i {
    display: none;
}

.sidebar__menu > h2 {
    color: $brown;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
}

.sidebar__link {
    color: $white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $white;
    font-weight: 700;
}

.sidebar__link:hover,
.sidebar__logout:hover {
    background: $brown;
    color: $dark !important;
    i {
        color: $dark !important;
    }
}

.sidebar__link > i {
    margin-right: 10px;
    font-size: 13px;
    color: $white;
}

.active_menu_link {
    background: $green;
    color: $dark;
}

.active_menu_link > a,
.active_menu_link > i {
    color: $dark !important;
}

.sidebar__logout {
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    color: #fffbf4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
}

.sidebar__logout > a {
    text-decoration: none;
    color: $white;
    font-weight: 700;
}

.sidebar__logout > i {
    margin-right: 10px;
    font-size: 15px;
}

.sidebar_responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
}

@media only screen and (max-width: 978px) {
    #sidebar {
        display: none;
    }

    .sidebar__title > i {
        display: inline;
        font-size: 18px;
        margin-left: 10px;
    }
}
