@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Noto+Sans+TC:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

// $dark: #03256cff;
// $red: #dd1c1aff;
// $yellow: #f1d302ff;
// $blue: #06bee1ff;
// $gray: #7d8491ff;
// $white: #fff;

$red_button: #d94e47;
$green_button: #6baa41;
$yellow_button: #dea336;

$dark: #294f84;
$green: #9fc6c0;
$brown: #e7b271;
$white: #fffbf4;
$red: #e15d29;
$gray: #7d8491ff;
$beige:#FFFBF4;

// $red_button: #d32147;
// $green_button: #36b6bc;
// $yellow_button: #e7b271;

$font-stack: 'Roboto', 'Noto', sans-serif;

.square__logo__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.square__logo__div > img {
    // min-width: 75px;
    width: 65%;
    max-width: 180px;
    object-fit: contain;
}

.square__logo__div > div {
    font-size: 3em;
    display: block;
    margin-top: 0px;
}

// .long__logo__div {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.long__logo__div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 130px;
}

.long__logo__div > img {
    max-width: 28px;
    object-fit: contain;
}

.long__logo__div > div {
    font-size: 28px;
}

.logo__text {
    font-family: 'Black Ops One', cursive;
    // font-size: 3em;
    // display: block;
    // margin-top: 0px;
}

.logo__text span:nth-child(1) {
    color: #e15d29;
}

.logo__text span:nth-child(2) {
    color: #d32147;
}
.logo__text span:nth-child(3) {
    color: #36b6bc;
}
.logo__text span:nth-child(4) {
    color: #e7b271;
}
.logo__text span:nth-child(5) {
    color: #e25d7f;
}

.rounded{
    border-radius:1em;
}

.client-bg{
    background-color:$brown;

}